:root {
    --header-w: #ffff;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.png);
}
header {
    max-width: 100%;
    background: var(--header-w);
    display: flex;
    justify-content: center;
}
.logo {
    padding: 0.8rem;
    display: flex;
}
